<!doctype html>
<html><!-- InstanceBegin template="/Templates/dwt.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>谋刻职业教育在线测评与学习平台</title>
<link rel="stylesheet" href="css/course.css"/>

<link rel="stylesheet" href="css/tab.css" media="screen">

<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->

    <script src="js/jquery.tabs.js"></script>
    <script src="js/mine.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script src="js/jquery-1.9.1.js"></script>

</head>

<body>
<div class="head" id="fixed">
	<div class="nav">
    	<span class="navimg"><a href="index.html"><img border="0" src="images/logo.png"></a></span>
        <ul class="nag">
        	<li><a href="courselist.html" class="link1 current">课程</a></li>
            <li><a href="articlelist.html" class="link1">资讯</a></li>
            <li><a href="teacherlist.html" class="link1">讲师</a></li>
            <li><a href="exam_index.html" class="link1" target="_blank">题库</a></li>
            <li><a href="askarea.html" class="link1" target="_blank">问答</a></li>
            
        </ul>
        <span class="massage">
            <!--<span class="select">
        	<a href="#" class="sort">课程</a>
        	<input type="text" value="关键字"/>
            <a href="#" class="sellink"></a>
            <span class="sortext">
            	<p>课程</p>
                <p>题库</p>
                <p>讲师</p>
            </span>
        </span>--> 
        	<!--未登录-->
        	<span class="exambtn_lore">
                 <a class="tkbtn tklog" href="login.html">登录</a>
                 <a class="tkbtn tkreg" href="register.html">注册</a>
            </span>
            <!--登录后-->
            <!--<div class="logined">
                <a href="mycourse.html"  onMouseOver="logmine()" style="width:70px" class="link2 he ico" target="_blank">sherley</a>
                <span id="lne" style="display:none" onMouseOut="logclose()" onMouseOver="logmine()">
                    <span style="background:#fff;">
                        <a href="mycourse.html" style="width:70px; display:block;" class="link2 he ico" target="_blank">sherley</a>
                    </span>
                    <div class="clearh"></div>
                    <ul class="logmine" >
                        <li><a class="link1" href="#">我的课程</a></li>
                        <li><a class="link1" href="#">我的题库</a></li>
                        <li><a class="link1" href="#">我的问答</a></li>
                        <li><a class="link1" href="#">退出</a></li>
                    </ul>
                </span>
            </div>-->
            
        </span>
    </div>
</div>
<!-- InstanceBeginEditable name="EditRegion1" -->
<div class="coursecont" id="course">
<div class="coursepic">
	<div  style="border: 0px solid red;width: 400px;height: 0px;" >
        <video class="video-js vjs-default-skin  vjs-big-play-centered vvi " controls preload="none" poster="images/c1.jpg" data-setup="{}" style="border: 0px solid pink;margin: 0px 0px 0px 0px;padding: 0px;height: 270px;width: 480px;" ><!--poster是视频未播放前的展示图片-->
            <source src="images/1-1.mp4" type='video/mp4' />
            <source src="images/1-1.mp4" type='video/webm' />
            <source src="images/1-1.mp4" type='video/ogg' />
        </video>
    </div>
    <div class="coursetitle">
   		<a class="state">更新中</a>
    	<h2 class="courseh2" v-text="msg[0].cname"></h2>
        <p class="courstime">总&nbsp;课&nbsp;时&nbsp;&nbsp;:&nbsp;<span class="course_tt" id="keshi"></span></p>
		<p class="courstime">课程时长&nbsp;:&nbsp;<span class="course_tt" id="shichang"></span></p>
        <p class="courstime">学习人数&nbsp;:&nbsp;<span class="course_tt">{{msg[0].theCumulativePurchase}}人</span></p>
		<p class="courstime">讲&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;师&nbsp;&nbsp;&nbsp;:&nbsp;{{msg[0].aname}}</p>
		<p class="courstime">课程评价&nbsp;&nbsp;:&nbsp;<img width="71" height="14" src="images/evaluate5.png">&nbsp;&nbsp;<span class="hidden-sm hidden-xs">5.0分（10人评价）</span></p>
        <!--<p><a class="state end">完结</a></p>-->
        <span class="coursebtn">
            <a class="btnlink" href="#" @click="getIndex(msg[0].coid)" v-text="msg[0].courseFee"></a>
            <a class="codol fx" href="javascript:void(0);" onclick="$('#bds').toggle();">分享课程</a><a class="codol sc" href="#">收藏课程</a></span>
		<div style="clear:both;"></div>
		<div id="bds">
            <div class="bdsharebuttonbox">
				<a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
				<a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
				<a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
				<a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a>
				<a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
				<a href="#" class="bds_more" data-cmd="more"></a>
				<a class="bds_count" data-cmd="count"></a>
			</div>
            <script>
			window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"24"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
			</script>
       </div>
    </div>
    <div class="clearh"></div>
</div>

<div class="clearh"></div>
<div class="coursetext" >
	<h3 class="leftit">课程简介</h3>
    <p class="coutex"><span v-text="msg[0].courseOverview"></span></p>
	<div class="clearh"></div>
	<h3 class="leftit">课程目录</h3>

    <!--显示课程详细-->
    <dl class="mulu noo">

        <!--<span v-for="value in msg">
          <dt><a href="#" class="graylink" v-text="value.name"></a></dt>
          <dd v-text="value.title"></dd>
            <span v-text="value.tname"></span>
            <span v-for="values in res">
                <a v-if="value.tcid===values.tcid"><dd><strong class="cataloglink">{{values.tname}}</strong><i class="fini nn"></i></dd></a>
            </span>
        </span>-->

        <div v-for="value in msg">
            <dt class="mulu_title"><span class="mulu_img"></span>{{value.name}}
                <span class="mulu_zd">+</span></dt>
            <div v-for="values in res">
                <a href="#" v-if="value.tcid===values.tcid" ><dd><strong class="cataloglink">{{values.tname}}</strong><i class="fini nn"></i></dd></a>
            </div>
        </div>

    </dl>
    <!--显示课程详细-->

</div>
<div class="courightext">
<div class="ctext" >
    <div class="cr1">
    <h3 class="righttit">授课讲师</h3>
    <div class="teacher">
    <div class="teapic ppi">
    <a href="teacher.html" target="_blank"><img :src="msg[0].aheadPortrait" width="80" class="teapicy" title="张民智"></a>
    <h3 class="tname"><a href="teacher.html" class="peptitle" target="_blank">{{msg[0].aname}}</a><p style="font-size:14px;color:#666">会计讲师</p></h3>
    </div>
    <div class="clearh"></div>
    <p v-text="msg[0].eintroduction"></p>
    </div>
    </div>
</div>

<div class="ctext">
    <div class="cr1">
    <h3 class="righttit">课程公告</h3>
    <div class="gonggao">
	<div class="clearh"></div>
    <p>人所缺乏的不是才干而是志向，不是成功的能力而是勤劳的意志。<br/>
	<span class="gonggao_time">2014-12-12 15:01</span>
	</p>
	<div class="clearh"></div>
	<p>请学习的同学在每节课学习后务必做完当节课的测试！<br/>
	<span class="gonggao_time">2014-12-12 15:01</span>
	</p>
	<div class="clearh"></div>
    </div>
    </div>
</div>

<div class="ctext">
    <div class="cr1">
    <h3 class="righttit">相关课程</h3>
    <div class="teacher">
    <div class="teapic">
        <a href="#"  target="_blank"><img src="images/c1.jpg" height="60" title="财经法规与财经职业道德"></a>
        <h3 class="courh3"><a href="#" class="peptitle" target="_blank">财经法规与财经职业道德</a></h3>
    </div>
    <div class="clearh"></div>
    <div class="teapic">
        <a href="#"  target="_blank"><img src="images/c2.jpg" height="60" title="财经法规与财经职业道德"></a>
        <h3 class="courh3"><a href="#" class="peptitle" target="_blank">财经法规与财经职业道德</a></h3>
    </div>
    <div class="clearh"></div>
    <div class="teapic">
        <a href="#"  target="_blank"><img src="images/c3.jpg" height="60" title="财经法规与财经职业道德"></a>
        <h3 class="courh3"><a href="#" class="peptitle" target="_blank">财经法规与财经职业道德</a></h3>
    </div>
    <div class="clearh"></div>
    </div>
    </div>
</div>
   
</div>



<div class="clearh"></div>
</div>
<script>
    $(function () {
        var category=window.location.search;
        var cateval = category.substring(category.lastIndexOf('=')+1, category.length);
        new Vue({
            el:"#course",
            data:{
                msg:[],
                res:[]
            },
            created:function () {
                var selp=this;
                var info=this;
                $.ajax({
                    url:"controllerTheCourseCatalog/showtheCourseCataloByCoid?coid="+cateval,
                    type:"post",
                    dataType:"json",
                    success:function(data) {
                        selp.msg=data
                    }
                });
                $.ajax({
                    url:"controllerTheCourseCatalogInfo/showAlltheCourseCatalogInfo",
                    type:"post",
                    dataType:"json",
                    success:function(data) {
                        info.res=data
                    }
                });
            },
            methods:{
                getIndex(index){
                    /*$.ajax({
                        url:"controllerUser/selectLoginUser",
                        type:"post",
                        dataType:"json",
                        success:function(data) {
                            if(data==0){
                                alert("请登入")
                            }
                        }
                    })*/
                 window.location.href='coursecont1.html?coid='+index;
                }
            }
        });
        var num=0;
        $.ajax({
            url:"controllerTheCourseCatalogInfo/showThecoursecataloginfoByCoid?coid="+cateval,
            type:"post",
            dataType:"json",
            success:function(data) {
                $('#keshi').html(data.length+'课时');
                //shichang
                for(var i=0;i<data.length;i++){
                    num+=parseInt(data[i].length)
                }
                num=Math.round(num/60);
                $('#shichang').html('约'+num+'小时');
            }
        });
    })
</script>

<!-- InstanceEndEditable -->


<div class="clearh"></div>
<div class="foot">
<div class="fcontainer">
      <div class="fwxwb"> 
	       <div class="fwxwb_1">
		       <span>关注微信</span><img width="95" alt="" src="images/num.png">
		   </div>
           <div>
               <span>关注微博</span><img width="95" alt="" src="images/wb.png">
		   </div>	              
      </div>
      <div class="fmenu">
	     <p><a href="#">关于我们</a> | <a href="#">联系我们</a> | <a href="#">优秀讲师</a> | <a href="#">帮助中心</a> | <a href="#">意见反馈</a> | <a href="#">加入我们</a></p>
      </div>
      <div class="copyright">      
        <div><a href="/">谋刻网</a>所有&nbsp;晋ICP备12006957号-9</div>
      </div>
    </div>
</div>
<!--右侧浮动-->
<div class="rmbar">
	<span class="barico qq" style="position:relative">
	<div  class="showqq">
	   <p>官方客服QQ:<br>335049335</p>
	</div>
	</span>
	<span class="barico em" style="position:relative">
	  <img src="images/num.png" width="75" class="showem">
	</span>
	<span class="barico wb" style="position:relative">
	  <img src="images/wb.png" width="75" class="showwb">
	</span>	
	<span class="barico top" id="top">置顶</span>	
</div>
</body>

<!-- InstanceEnd --></html>
